.ie8 #page-header h1 {
	display: block;
	width: 400px;
	height: 200px;
	float: right;
}

.ie8 #page-header h2 {
	display: block;
	width: 500px;
	height: 300px;
	float: left;
}



.ie8 #intro-cta h2 {
	display: block;
	width: 680px;
	float: left;
}

.ie8 #intro-cta .sample-cta {
	display: block;
	width: 300px;
	float: right;
}

.ie8 #intro-cta .sample-cta a {
	display: block;
	width: 100%;
	margin-bottom: .7em;
	padding: 1em 0;
}



.ie8 #panadas-intro h2 {
	display: block;
	width: 570px;
	float: left;
	
}

.ie8 #panadas-intro > div > div {
	display: block;
	width: 370px;
	float: right;
} 



.ie8 #panada-facts #fact-list {

	display: block;
	width: 720px;
	float: left;

}

.ie8 #panada-facts #fact-list ul {
	display: block;
	width: 100%;
	float: left;
}

.ie8 #panada-facts #fact-list ul li {
	display: block;
	width: 343px;
	float: left;
}

.ie8 #panada-facts #flavors-intro {
	display: block;
	width: 360px;
	margin-top: -3em;
	float: right;
}

.ie8 #flavors li {
	display: block;
	width: 328px;
	margin-right: 2em;
	float: left;
}

.ie8 #flavors li img {
	width: 100%;
	height: auto;
}



.ie8 #footer-cta > div > p {
	display: block;
	width: 540px;
	float: left;
}

.ie8 #footer-cta .sample-cta {
	display: block;
	width: 450px;
	float: right;
}

.ie8 #footer-cta .sample-cta a {
	display: block;
	width: 100%;
	margin-bottom: .7em;
	padding: 1em 0;
}



.ie8 #page-footer .logo {
	display: block;
	width: 150px;
	margin-top: 42px;
}

.ie8 #page-footer .logo.nestlepro {
	float: left;
}

.ie8 #page-footer .logo.panadas {
	float: right;
}

.ie8 #page-footer .logo img {
	display: block;
	width: 100%;
	height: auto;
}

.ie8 #page-footer .external-links {
	margin-top: -80px;
}

