body p {
	color: #343728;
}

body hr {
	border-top: 5px solid #d2c8b8;
}

a.button {
	font-family: 'Gotham', 'Open Sans', sans-serif;
	font-size: 1.2em;
	border-radius: .4em;
}

a.cta-see-flavors {

	display: block;
	width: 160px;
	height: 44px;
	margin-left: -80px;

	position: absolute;
	bottom: 33px;
	left: 50%;

	background: url('../img/button-see-flavors.png') no-repeat;

	text-indent: -999em;

}

h2 span {
	font-style: italic;
}







#page-header {
	background: #e1d3c5;
}

#page-header > div {

	height: 618px;

	position: relative;

	background: url('../img/hero-panadas.jpg') top center no-repeat;

}


#page-header h1, #page-header h2 {
	text-indent: -999em;
}

#page-header h1 {
	height: 300px;
	background: url('../img/logo-header-hp-panadas.png') top center no-repeat;
}

#page-header h2 {
	height: 300px;
	background: url('../img/heading-nada.png') no-repeat;


}


/* Tablet Styles */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

	#page-header h1 { background-size: 96%; }
	#page-header h2 { background-size: 96%; }

	#intro-cta div h2 {
		font-size: 1.8em;
	}

	#panadas-intro div h2 {
		background-size: 90%;
		background-position: top center;
	}

	#panada-facts ul {}

	#panada-facts #flavors-intro {
		margin-top: 8.5em;
	}

	#footer-cta > div {
		padding: 0 .8em;
	}

	#footer-cta h2 {
		text-align: center;
	}


}


/* Phone/Mobile Styles */
@media only screen and (max-width: 40em) {

	#page-header h1 { background-size: 100%; }
	#page-header h2 { background-size: 100%; }

	#intro-cta div h2 {
		font-size: 1.8em;
	}

	#panadas-intro div h2 {
		background-size: 90%;
		background-position: top center;
	}

	#panada-facts ul {}

	#panada-facts #flavors-intro {
		margin-top: 8.5em;
	}

	#footer-cta > div {
		padding: 0 .8em;
	}

	#footer-cta h2 {
		text-align: center;
	}


}







#intro-cta {
	padding: 1.8em 0;
}

#intro-cta h2 {

	margin: 0;

	font-family: BrandonPrinted-One;
	font-size: 2.2em;
	font-style: normal;
	font-weight: normal;

}

#intro-cta .sample-cta {
	text-align: center;
}

#intro-cta .sample-cta span {
	display: block;
	font-family: 'Gotham Book', 'Open Sans', sans-serif;
	font-size: .5em;
}










#panadas-intro {
	padding: 3em 0;
	background: #d5b583 url('../img/bg-texture-brownpaper.jpg') repeat;
}

#panadas-intro h2 {
	min-height: 250px;
	text-indent: -999em;
	background: url('../img/heading-intro.png') no-repeat;
}

#panadas-intro h3 {
	color: #343728;
	font-size: 1.1em;
	font-weight: bold;
}



#panada-facts {
	padding-bottom: 3em;
	background: #f4f1eb;
}

#panada-facts h2 {

	margin-top: 1.3em;
	margin-bottom: .6em;

	font-family: BrandonPrinted-Two;
	font-size: 2em;
	font-style: normal;
	text-align: center;

}



ul.facts {
	margin: 0;
	list-style: none;
}

#panada-facts ul.facts li {

	margin: 0 0 .8em 0;
	padding: 1.6em 1.9em;

	background: url('../img/bg-fact-box.png') center center no-repeat;
	background-size: 96%;

	text-align: center;

}

#panada-facts ul.facts li h3 {

	margin: 0;
	padding: 0;

	font-family: 'Open Sans';
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;

}

#panada-facts ul.facts li span {
	display: block;
	font-size: .9em;
	line-height: 1.3em;
}





#flavors-intro {
	margin-top: -5em;
}

#flavors-intro img {
	margin-bottom: 1.4em;
}

#flavors-intro h4 {
	color: #343728;
	font-size: .9em;
	font-weight: bold;
}

#flavors-intro ul {
	color: #343728;
	font-size: .9em;
}





#flavors {
	padding-bottom: 2em;
}

#flavors ul {
	margin: 0;
	list-style: none;
}

#flavors li {
	height: 360px;
}

#flavors li p {
	margin: 0;
}

#flavors h2 {

	margin: .8em 0 .1em 0;
	padding: 0 0 0 15px;

	color: #937839;
	font-family: BrandonPrinted-Two;
	font-size: 2.7em;
	font-style: normal;

}

#flavors h3 {

	padding: .4em 0 0 0;

	font-family: Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;

}

#flavors p {
	font-size: .9em;
}





#footer-cta {
	padding: 1.4em 0;
	background: #d5b583 url('../img/bg-texture-brownpaper.jpg') repeat;
}

#footer-cta h2 {

	padding: 0;

	color: #5b623d;
	font-family: BrandonPrinted-Two;
	font-size: 1.8em;
	font-style: normal;

}

#footer-cta p {
	padding: 0;
	font-size: 1.3em;
}

#footer-cta p a {
	color: inherit;
	text-decoration: underline;
}

#footer-cta .sample-cta {

	text-align: center;

}

#footer-cta .sample-cta p {
	color: #5c633e;
	font-size: .7em;
}







#page-footer {
	padding: 1.6em 0 3em 0;
	color: #bfbfbf;
	text-align: center;
}

#page-footer p, #page-footer a {
	color: #bfbfbf;
}

#page-footer p {
	font-size: .8em;
}

#page-footer ul {
	margin: 1.3em 0 .8em 0;
	font-size: .8em;
}

#page-footer ul li {
	display: inline-block;
	height: 37px;
}

#page-footer .truste {
	width: 134px;
	height: 37px;
	margin-left: .5em;
}

#page-footer .external-links a {
	display: block;
	width: inherit;
	height: inherit;

	line-height: 2.8em;

}

#page-footer .truste a {

	background: url('../img/logo-truste-privacy.png') no-repeat;

	text-indent: -999em;

}

#free-sample-form {
	padding: 0;
}
